@font-face {
  font-family: "Morabba-Black";
  src: url("../../public/fonts/Morabba-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba-extrabold";
  src: url("../../public/fonts/Morabba-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba";
  src: url("../../public/fonts/Morabba-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba-Semibold";
  src: url("../../public/fonts/Morabba-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba-Medium";
  src: url("../../public/fonts/Morabba-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba-Regular";
  src: url("../../public/fonts/Morabba-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Morabba-light";
  src: url("../../public/fonts/Morabba-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Morabba";
  src: url("../../public/fonts/Morabba-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
