@import "../styles/fonts.css";
@import "tailwindcss";

body {
  @apply flex justify-center;
  direction: rtl;
}
p,
a {
  @apply font-[Morabba-Regular];
}

h1 {
  @apply font-[Morabba-Semibold] text-[36px];
}

.hero-sec {
  background: url("../../public/assets/e889ed338c35f7ed209bcd24ce0c4055.png")
    no-repeat center;
  background-size: cover;
}
