@import "../styles/fonts.css";
@import "tailwindcss";

body {
  @apply flex justify-center;
  direction: rtl;
}
p,
a,
button {
  @apply font-[Morabba-Regular];
}

input,
textarea {
  @apply font-[Morabba-Regular] pr-3;
}

label {
  @apply font-[Morabba-medium] pr-3;
}

h1 {
  @apply font-[Morabba-extrabold];
}
h2 {
  @apply font-[Morabba-light];
}

::placeholder {
  color: black;
  @apply font-[Morabba-Regular];
}

input[type="tel"] {
  direction: rtl;
  text-align: right;
}
